In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df_train= pd.read_csv(r"train.csv")
df_train.shape

(420551, 15)

In [8]:
df_train.head()

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3

In [9]:
# Compter les valeurs manquantes pour chaque colonne
missing_values = df_train.isna().sum()

# Afficher le nombre de valeurs manquantes pour chaque colonne
print("Nombre de valeurs manquantes pour chaque colonne :")
print(missing_values)

Nombre de valeurs manquantes pour chaque colonne :
Date Time          0
p (mbar)           0
T (degC)           0
Tpot (K)           0
Tdew (degC)        0
rh (%)             0
VPmax (mbar)       0
VPact (mbar)       0
VPdef (mbar)       0
sh (g/kg)          0
H2OC (mmol/mol)    0
rho (g/m**3)       0
wv (m/s)           0
max. wv (m/s)      0
wd (deg)           0
dtype: int64

In [10]:
# explore data, visualisation , structure modeles (multivarié? savoir quoi predire, en fonction, lag)

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420551 entries, 0 to 420550
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420551 non-null  object
 1   p (mbar)         420551 non-null  float64
 2   T (degC)         420551 non-null  float64
 3   Tpot (K)         420551 non-null  float64
 4   Tdew (degC)      420551 non-null  float64
 5   rh (%)           420551 non-null  float64
 6   VPmax (mbar)     420551 non-null  float64
 7   VPact (mbar)     420551 non-null  float64
 8   VPdef (mbar)     420551 non-null  float64
 9   sh (g/kg)        420551 non-null  float64
 10  H2OC (mmol/mol)  420551 non-null  float64
 11  rho (g/m**3)     420551 non-null  float64
 12  wv (m/s)         420551 non-null  float64
 13  max. wv (m/s)    420551 non-null  float64
 14  wd (deg)         420551 non-null  float64
dtypes: float64(14), object(1)
memory usage: 48.1+ MB

In [12]:
# Référence date-heure
# p (mbar) : Unité de pression dérivée du Pascal SI utilisée pour quantifier la pression interne. Les rapports météorologiques indiquent généralement la pression atmosphérique en millibars.
# T (degC) : Température en Celsius
# Tpot (K) : Temperature in Kelvin
# Tdew (degC): Température en Celsius par rapport à l'humidité. Le point de rosée est une mesure de la quantité absolue d'eau dans l'air, le DP est la température à laquelle l'air ne peut pas retenir toute l'humidité qu'il contient et l'eau se condense.
# hr (%) : L'humidité relative est une mesure de la saturation de l'air en vapeur d'eau, le % HR détermine la quantité d'eau contenue dans les objets de collecte.
# VPmax (mbar) : Pression de vapeur saturante
# VPact (mbar) : La pression de vapeur
# VPdéf (mbar) : Déficit de pression de vapeur
# viande (g/kg) : Humidité spécifique
# H2OC (mmol/mol) : Concentration de vapeur d'eau
# rho (g/m** 3) : Hermétique
# wv (m/s) : Vitesse du vent
# 14 maximum. wv (m/s) : Vitesse maximale du vent
# wd (degrés) : Direction du vent en degrés


# variables differentes : 
#


#la température de l'air, la pression atmosphérique, 
# l'humidité, la direction du vent, etc.) qui ont été enregistrées toutes les 10 minutes, 
# sur plusieurs années. Cet ensemble de données couvre les données du 1er janvier 2009 
# au 31 décembre 2016.

In [16]:
df_train['Date Time'] = pd.to_datetime(df_train['Date Time'], format="%d.%m.%Y %H:%M:%S") # changer le date time en date

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420551 entries, 0 to 420550
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420551 non-null  datetime64[ns]
 1   p (mbar)         420551 non-null  float64
 2   T (degC)         420551 non-null  float64
 3   Tpot (K)         420551 non-null  float64
 4   Tdew (degC)      420551 non-null  float64
 5   rh (%)           420551 non-null  float64
 6   VPmax (mbar)     420551 non-null  float64
 7   VPact (mbar)     420551 non-null  float64
 8   VPdef (mbar)     420551 non-null  float64
 9   sh (g/kg)        420551 non-null  float64
 10  H2OC (mmol/mol)  420551 non-null  float64
 11  rho (g/m**3)     420551 non-null  float64
 12  wv (m/s)         420551 non-null  float64
 13  max. wv (m/s)    420551 non-null  float64
 14  wd (deg)         420551 non-null  float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 48.1 MB

In [23]:
print(df_train['Date Time'].unique())
print(df_train['Date Time'].nunique())

<DatetimeArray>
['2009-01-01 00:10:00', '2009-01-01 00:20:00', '2009-01-01 00:30:00',
 '2009-01-01 00:40:00', '2009-01-01 00:50:00', '2009-01-01 01:00:00',
 '2009-01-01 01:10:00', '2009-01-01 01:20:00', '2009-01-01 01:30:00',
 '2009-01-01 01:40:00',
 ...
 '2016-12-31 22:30:00', '2016-12-31 22:40:00', '2016-12-31 22:50:00',
 '2016-12-31 23:00:00', '2016-12-31 23:10:00', '2016-12-31 23:20:00',
 '2016-12-31 23:30:00', '2016-12-31 23:40:00', '2016-12-31 23:50:00',
 '2017-01-01 00:00:00']
Length: 420224, dtype: datetime64[ns]
420224

In [21]:
df_train.shape

(420551, 15)